*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse bold";
  src: url(./fonts/Norse-Bold.otf) format("otf");
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    font-family: "Norse bold", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.left-content {
    height: 100vh;
    width: max(45vw, 1200px);
    position: relative;
    overflow: hidden;
}

.title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6em;
    height: 12vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 400;
    padding: 1em 0;
    z-index: 1;
}

#reference {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1;
}

.image-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#btc_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-content  {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5em;
  background-color: #F7F7F7;
}

.details-container  {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 2em;
  background-image: linear-gradient(to bottom, #FF7D29, #FFBF78, #FFEEA9 );
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.details-container p {
  color: black;
  margin-left: 0;
  width: min(80%, 900px);
  font-size: 1.3em;
  font-weight: 600;

}

.form-container {
  width: 100%;
  padding: 0 2em;
}

.form-container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
  width: 60%;
  padding: 2em;
  column-gap: 5em;
}

.form-container section p {
  display: flex;
  flex-direction: column;
}

.form-container section input {
  width: max(60%, 300px);
  border: 1px solid #ccc;
  border-radius: 0.2em;
  padding-left: 0.5em;
}

.form-container section input:focus {
  outline: none;
  border: 1px solid rgba(31, 131, 151, 0.767);
  box-shadow: 0 0 0.2em rgba(31, 131, 151, 0.767);
}

.form-container section input[type=password]:invalid {
  border: 1px solid red;
}

.form-actions {
  display: flex;
  gap: 15em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  height: 100%;
}

.form-button {
  width: 100%;
  padding: 1.5em 1.5em 0 1.5em;
  margin: 0 auto;
}

.form-button button {
  width: 150px;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: #FF7D29;
  color: white;
  font-weight: bold;
}

.form-button button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.form-button button:active {
  transform: scale(0.95);
}

.form-others p{
  display: inline-block;
  margin: 1em 0 1em 1em;
  font-size: 1.2em;
}

.form-others p #log-in {
margin: 1em 0 1em 0.5em;
}

.log-in {
color: rgba(31, 131, 151, 0.767);
text-decoration: underline;
}

.log-in:hover {
  cursor: pointer;
}

.left-actions-content {
  width: 50%;
}

.odin-project {
  display: flex;
  gap: 3em;
  margin: 1em 0 1em 1em;
  font-size: 1.2em;
  font-weight: 600;
}

#odin-text:hover {
  cursor: pointer;
}

#github-text img {
  margin-left: 0.2em;
  display: inline;
  vertical-align: middle;
}

#github-text img:hover {
  animation: github-logo-spin 0.5s ease forwards;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.odin-logo {
  opacity: 0;
  cursor: default;
  transform: rotate(0deg) scale(1.2);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.odin-logo-active {
  animation: appearSpinScale 1.2s ease forwards;
  cursor: pointer;
  padding: 50px;
  border-radius: 25%;
  background-color: #FF7D29;
  box-sizing: content-box;
  transform: rotate(360deg);
  transition: transform 0.6s ease;
}

@keyframes appearSpinScale {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(1.1);
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

@keyframes github-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}